<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.practice.socialinfluencerr">



    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- permission below just in case, should not be needed I believe -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE"/>
    <!-- permission below just in case, should not be needed I believe -->
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/social_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/social_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".SpecificLoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".AdvertiserLoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".AdvertiserRegisterActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".AdvertiserActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".InfluencerLoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".InfluencerRegisterActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".InfluencerActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".AdvertiserProfileActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Influencer_campaign"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".SampleInfluencer"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".PostPage"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".PostListView"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".CampaignListView"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Inf_Followers"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Inf_connects"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Influencer_Amount"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".SampleCameraScreen"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SampleCameraInfluencerScreen"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>